@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

$font-stack:"Montserrat", sans-serif;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: $font-stack;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
}

ul {
    list-style: none;
}

.container {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 30px;
    overflow: auto;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(400px, auto);
    gap: 10px;
}

.flex {
    display: flex;
    flex: 1;
    gap: 30px;
}

img {
    max-width: 100%;
}

.title {
    font-size: 4.5rem;
    color: #fff;
    font-weight: 400;
    text-transform: uppercase;
}

.subtitle {
    text-transform: uppercase;
    text-align: center;
    font-size: 2rem;
    margin: 2rem 0;
    font-weight: 300;
}

.navbar ul li a:hover,
.navbar ul li a.active {
    color: violet;
    text-decoration: solid;
}

.box {
    border-radius: 5px;
}

//mainheader
#mainheader {
    background: url("/images/background-showcase.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    .navbar {
        .logo {
            font-size: 3rem;
            margin: 2rem 0;
        }
        ul {
            margin-top: 2rem;
            display: flex;
        }
        li {
            display: inline-block;
            margin-left: 1rem;
        }
        .container {
            display: flex;
            justify-content: space-between;
            width: 100%;
        }
    }
    #showcase {
        width: 80%;
        margin: 0 auto;
        .showcase-text {
            margin-top: 5rem;
            h2 {
                font-size: 3rem;
                font-weight: 300;
                text-transform: uppercase;
                color: #fff;
            }

            p {
                width: 50%;
                color: #fff;
                line-height: 25px;
            }
        }
      
    }
}

//mainheader-2
#mainheader-2 {
    background: url("/images/background-gallery.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    .navbar {
        .logo {
            font-size: 3rem;
            margin: 2rem 0;
        }
        ul {
            margin-top: 3rem;
            display: flex;
        }
        li {
            display: inline-block;
            margin-left: 1rem;
        }
        .container {
            display: flex;
            justify-content: space-between;
            width: 100%;
        }
    }
}

//gallery
#gallery {
    background: url("/images/background-gallery.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  .gallery-grid {
    width: 80%;
    margin: 0 auto ;
    padding: 4rem 0 1rem 0;
  }
    .box-1 {
        //background: url("/images/gallery-1.jpg");
        grid-column: 1/2;
        grid-row: 1/3;
         img {
             height: 135vh;
         }
    }
    .box-2 {
        //background: url("/images/gallery-2.jpg");
        grid-column: 2;
        grid-row: 1/2;
        img {
            height: 75vh;
        }
    }
    .box-3 {
        //background: url("/images/gallery-3.jpg");
        grid-column: 3;
        grid-row: 1/2;
        img {
            height: 75vh;
        }
    }
    .box-4 {
        //background: url("/images/gallery-4.jpg");
        grid-column: 2;
        grid-row: 2/3;
    }
    .box-5 {
        //background: url("/images/gallery-5.jpg");
        grid-column: 3;
        grid-row: 2/3;
    }

    // .box-2, .box-3, .box-4, .box-5 {
    //     a {
    //         width: 150px;
    //         padding: 15rem 1rem 2rem 1rem;
    //         display: flex;
    //         flex-direction: column;
    //         justify-content: end;
    //         font-size: 18px;
    //         color: #fff;
    //         text-decoration: none;
    //         margin-bottom: 1rem;
    //     }
    // }

    // .box-1 {
    //     a {
    //         width: 150px;
    //         padding: 20rem 1rem 2rem 1rem;
    //         display: flex;
    //         flex-direction: column;
    //         justify-content: end;
    //         font-size: 18px;
    //         color: #fff;
    //         text-decoration: none;
    //         margin-bottom: 1rem;
    //     }
    // }

    .box-1,
    .box-2,
    .box-3,
    .box-4,
    .box-5 {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}

//gallery-2 
#gallery-2 {
    background: url("/images/background-gallery.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    h2 {
        color: #fff;
    }
    .gallery-2-row {
        width: 80%;
        margin: 0 auto;
        display: flex;
        gap: 30px;
        margin-bottom: 2rem;
        .gallery2-flex {
           p {
            font-size: small;
            line-height: 27px;
            color: #fff;
            text-align: justify;
           }
        }
}
}

//gallerys
#gallerys {
    .gallery-flex {
        .madre {
            width: 90%;
            margin: 0 auto;
            img {
                width: 35%;
                height: 55vh;
                float: left;
            }
            p {
                width: 60%;
                float: right;
                line-height: 30px;
                text-align: justify;
            }
        }
    }
}

//social
#social {
    width: 80%;
    text-align: left;
    margin-top: 2rem;
    img {
        width: 50px;
    }
}

//footer
#footer {
    text-align: center;
    padding: 3rem 0;
}